.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e5e5e5;
  background-image: url(./image/decor.png);
}
.title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 22px;
  color: #818181;
}
